1.	Write a function wish(name) that returns "Hello, Good Morning <name>!".

In [ ]:
def wish(name):
  return f"Hello, Good Morning {name}!"

print(wish("Abc"))
print(wish("xyz"))

Hello, Good Morning Abc!
Hello, Good Morning xyz!

2.	Write a function cube(n) that returns the cube of a number (nÂ³).

In [ ]:
def cube_(n):
  return n**3
n= float(input("Enter a number"))
print(f"Cube of {n} is {cube_(n)}")

Enter a number12
Cube of 12.0 is 1728.0

3.	Write a function check_even(n) that returns True if the number is even, else False.

In [ ]:
def check_even(n):
  if n % 2 == 0:
    return True
  else:
    return False
n= int(input("Enter a number"))
print(check_even(n))

Enter a number23
False

4.	Write a function greatest_of_two(a, b) that returns the larger of two numbers

In [ ]:
def greates_of_two(a,b):
  if a >b:
    return a
  return b

a,b = list(map(int,input("Enter two numbers").split()))
print(f"Greatest of {a} and {b} is {greates_of_two(a,b)}")

Enter two numbers2 45
Greatest of 2 and 45 is 45

5.	Write a function count_letters(s) that returns the number of characters in a string.

In [ ]:
def count_letters(str1):
  return len(str1)
inp = input("Enter a string")
print(f"Number of chars in string:{count_letters(inp)}")

Enter a stringstring
Number of chars in string:6

6.	Write a function power(value, exp=2) that returns the number raised to the power exp. (Default exponent = 2)

In [ ]:
def power(value, exp=2):
  return value**exp

print(power(2,3))
print(power(2))
#

8
4

7.	Write a function swap(a, b) that returns the two values swapped as a tuple.

In [ ]:
def swap(a,b):
  return b,a

a,b = list(map(int,input("Enter the numbers ot be swapped").split()))
print(f"Swapped numbers are {swap(a,b)}")

Enter the numbers ot be swapped1 3
Swapped numbers are (3, 1)

8.	Write a function add_sub(a, b) that returns both sum and difference of two numbers.

In [ ]:
def add_sub(a,b):
  return a+b, a-b

a , b = list(map(int,input("Enter two numbers").split()))
print(f"Sum of {a} and {b} is {add_sub(a,b)[0]}, difference is {add_sub(a,b)[1]}")

Enter two numbers1 2
Sum of 1 and 2 is 3, difference is -1

9.	Write a function circle_stats(radius) that returns the area and circumference as a tuple.

In [ ]:
def circle_stats(radius):
  return 3.14*radius*radius, 2*3.14*radius

r = float(input("Enter radius"))
print(f"Area and circumference of circle with radius {r} are {circle_stats(r)}")
#

Enter radius2
Area and circumference of circle with radius 2.0 are (12.56, 12.56)

10.	Write a function min_max_sum(nums) that returns the minimum, maximum, and sum of a list.

In [ ]:
def min_max_sum(nums):
  return min(nums), max(nums), sum(nums)

li = list(map(float,input("Enter the numbers").split()))
print(f"Min: {min_max_sum(li)[0]}, Max: {min_max_sum(li)[1]}, Sum: {min_max_sum(li)[2]}")

Enter the numbers1 2.5 4
Min: 1.0, Max: 4.0, Sum: 7.5

11.	Write a function concat(*parts) that joins multiple strings together with spaces.

In [ ]:
def concat(*a):
  return ' '.join(a)

inp =  list(map(str,input("enter list of words").split()))
print(concat(*inp))

enter list of wordshello world
hello world

12.	Write a function format_name(first, last="") that returns "Last, First" if last name is provided, else "First".

In [ ]:
def format_name(first,last=""):
  if last == "":
    return first
  return f"{last},{first}"

first =  input("Enter first name")
last = input("enter last name")
print(f"Passing last name {format_name(first,last)}")
print(f"Passing only first name {format_name(first)}")

Enter first nameFirstname
enter last nameLast name
Passing last name Last name,Firstname
Passing only first name Firstname

13.	Write a function greet_user(first, last) that returns a message like "Welcome, First Last!".

In [ ]:
def greet_user(first,last):
  return f"Welcome, {first} {last}!"

first =  input("Enter first name")
last = input("enter last name")
print(greet_user(first,last))
#

Enter first namefirstname
enter last namelastname
Welcome, firstname lastname!

14.	Write a lambda function to add two numbers.

In [ ]:
inp1 = float(input("Enter first number"))
inp2 = float(input("Enter second number"))
add = lambda a,b: a+b
print(add(inp1,inp2))

Enter first number12
Enter second number4
16.0

15.	Write a lambda function mult = lambda *args: that returns the product of all arguments.

In [77]:
li =[1,2,3,4]

mult = lambda *args: 1 if not args else args[0] * mult(*args[1:])
print(mult(*li))

24

16.	Write a one-line lambda expression to flatten a list of pairs like [(a,b), (c,d)] into [a, b, c, d].

In [ ]:
li = [[1,2],[3,4]]
flat =  lambda li : [ li[i][j] for i in range(len(li)) for j in range(len(li[i]))]
print(flat(li))

[1, 2, 3, 4]

17.	Write a recursive function factorial(n) that returns the factorial of a number.

In [ ]:
def factorial(n):
  if n == 0:
    return 1
  return n*(factorial(n-1))


inp = int(input('enter the number whose factorial should be found'))
print(factorial(inp))

enter the number whose factorial should be found4
24

18.	Write a function apply_twice(func, x) that applies a function twice â func(func(x)).

In [ ]:
def apply_twice(func,x):
  return func(func(x))

def add1(x):
  return x+1

apply_twice(add1,2)

4

19.	Write a function inner_demo() that defines and calls an inner function inside it.

In [ ]:
def inner_demo():
  print('Inner demo function')
  def deeper_demo():
    print("deeper demo function")
  deeper_demo()

inner_demo()

Inner demo function
deeper demo function

20.	Write a function call_function(func, value) that takes another function as a parameter and applies it.

In [ ]:
def squares_cubes(func,x):
  print(func(x))

def squ(x):
  return x**2

def cub(x):
  return x**3

squares_cubes(squ,5)
squares_cubes(cub,5)

25
125

21.	Write a function square_list(nums) that defines a helper function square(x) inside it and returns a list of squares.

In [ ]:
def square_list(nums):
  def square(x):
    return x**2
  return list(map(square,nums))

print(square_list([1,2,3]))

[1, 4, 9]

22.	Write a function make_multiplier(m) that returns a new function which multiplies input values by m.

In [ ]:
def make_multiplier(m):
  def multiply(x):
    return x*m
  return multiply

times3 = make_multiplier(3)
print(times3(5))
#

15

23.	Write a function filter_primes(nums) that filters prime numbers using a helper is_prime() function.

In [ ]:
def filter_primes(nums):
  def isPrime(x):
    if x == 2 or x ==3:
      return True
    else:
      for i in range(2,int(x**0.5)+1):
        if x%i == 0:
          return False
      return True

  return list(filter(isPrime,nums))

print(filter_primes([1,2,3,4,5,6,7,8,9,10]))

[1, 2, 3, 5, 7]

24.	Write a function convert_to_fahrenheit(celsius_list) using map and a lambda.
Formula: F = C * 9/5 + 32

In [ ]:
def convert_to_fahrenheit(celsius):
  return list(map(lambda c: round(c*(9/5),2)+ 32,celsius ))


convert_to_fahrenheit([39.2, 36.5, 37.3, 38, 37.8])
#

[102.56, 97.7, 99.14, 100.4, 100.04]

25.	Write a function apply_if(func, predicate, iterable) that applies a function only to items that pass a condition.

In [ ]:
def isPrime(x):
  if x == 2 or x ==3:
    return True
  else:
    for i in range(2,int(x**0.5)+1):
      if x%i == 0:
        return False
    return True

def squ(n):
  return n**2
def apply_if(func,predicate,nums):
  ll=[]
  for n in nums:
    if predicate(n):
      ll.append(func(n))
    else:
      ll.append(n)
  return ll
print(apply_if(squ,isPrime,[1,2,3,4,5,6,7,8,9,10]))

[1, 4, 9, 4, 25, 6, 49, 8, 9, 10]

26.	Write a function curry(func) that converts a two-argument function into a curried version â can be called as f(a)(b).

In [ ]:
def maximum(a,b):
  if a>b:
    return a
  return b

def curry(func):
  def init_a(a):
    def init_b(b):
      return func(a,b)
    return init_b
  return init_a

find_max = curry(maximum)
print(find_max(2)(3))
#

27.	Write a function variadic_sum(*args, **kwargs) that sums all positional arguments and multiplies by a scale factor if provided.

In [ ]:
def variadic_sum(*args,**kwargs):
  if kwargs.get('scale',False):
    print(list(map(lambda x: x*kwargs.get('scale'),args)))
    print(sum(args)*kwargs.get('scale'))

  else:
    print(sum(args))

variadic_sum(1,2,3,4,scale=2)

[2, 4, 6, 8]
20

28.	Write a function sort_by_length(strings) that sorts a list of strings by their length using a lambda as key.

In [ ]:
def sort_by_length(strings):
  return sorted(strings,key = lambda x : len(x))

sort_by_length(['a','aaaaa','aaa'])
#

['a', 'aaa', 'aaaaa']

29.	Create [1,2,3,4] â list of their squares.

In [ ]:
li =[1,2,3,4]
sq_list =  [s**2 for s in li]
print(sq_list)

[1, 4, 9, 16]

30.	Create ['a','b','c'] â list of their uppercase versions.

In [17]:
str1 = ['a','b','c']
up_list = [s.upper() for s in str1]
print(up_list)
#

['A', 'B', 'C']

31.	Make a list of even numbers from 1 to 20.

In [20]:
even_list = [i for i in range(2,20,2)]
even_list

[2, 4, 6, 8, 10, 12, 14, 16, 18]

32.	Given words = ['apple', 'bee', 'cat'], create [(word, len(word)) for word in words].

In [21]:
words = ['apple', 'bee', 'cat']
tuple_list =  [(word,len(word)) for word in words]
tuple_list

[('apple', 5), ('bee', 3), ('cat', 3)]

33.	Flatten [[1,2], [3,4], [5]] â [1,2,3,4,5].

In [22]:
li = [[1,2], [3,4], [5]]
flat_list  =  [li[i][j] for i in range(len(li)) for j in range(len(li[i]))]
flat_list

[1, 2, 3, 4, 5]

34.	From nums = [0,1,2,3], create a list of 'even' or 'odd' strings.

In [23]:
nums = [0,1,2,3]
ll = ["even" if n%2==0 else "odd" for n in nums]
ll

['even', 'odd', 'even', 'odd']

35.	Using a comprehension, make a list of booleans showing if numbers in a list are prime (use helper function).

In [24]:
ll =list(map(int,input("Enter the array").split()))
def isPrime(n):
  if n <2:
    return False
  elif n <=3:
    return True
  else:
    for i in range(2,int(n**0.5)+1):
      if n%i == 0:
        return False
    return True

prime_list = [isPrime(n) for n in ll]
prime_list

Enter the array1 2 3 4 5 6 7 8

[False, True, True, False, True, False, True, False]

36.	From range(1,50), select numbers divisible by both 2 and 3.

In [29]:
def div_by(d,n):
  if n%d == 0:
    return True
  return False
def chk_div(func):
  def sub1(d):
    def sub2(n):
      return func(d,n)
    return sub2
  return sub1

div_by= chk_div(div_by)
div_by_2 = div_by(2)
div_by_3 = div_by(3)
div_list = list( filter(lambda x:div_by_2(x) and div_by_3(x),[n for n in range(1,50)]))
div_list

[6, 12, 18, 24, 30, 36, 42, 48]

37.	Create coordinate pairs (i, j) where i and j go from 0 to 2.

In [30]:
coord_pairs = [(i,j) for i in range(3) for j in range(3)]
coord_pairs

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

38.	From ['a b','c d e'], produce a flat list of all words.

In [32]:
arr= ['a b','c d e']
flat_list = [ss for s in arr for ss in s.split()]
flat_list

['a', 'b', 'c', 'd', 'e']

39.	Given students = [{'name':'A','score':80}, {'name':'B','score':60}], Create a list of names of students with score â¥ 75.

In [37]:
students = [
    {'name': 'A', 'score': 80},
    {'name': 'B', 'score': 60},
    {'name': 'C', 'score': 92},
    {'name': 'D', 'score': 74},
    {'name': 'E', 'score': 88},
    {'name': 'F', 'score': 67},
    {'name': 'G', 'score': 95},
    {'name': 'H', 'score': 70},
    {'name': 'I', 'score': 78},
    {'name': 'J', 'score': 83}
]

for x in students:
  print(x)

passed_students = [x.get('name') for x in list(filter(lambda x: x.get('score') >= 75, students))]
passed_students

{'name': 'A', 'score': 80}
{'name': 'B', 'score': 60}
{'name': 'C', 'score': 92}
{'name': 'D', 'score': 74}
{'name': 'E', 'score': 88}
{'name': 'F', 'score': 67}
{'name': 'G', 'score': 95}
{'name': 'H', 'score': 70}
{'name': 'I', 'score': 78}
{'name': 'J', 'score': 83}

['A', 'C', 'E', 'G', 'I', 'J']

40.	Build a list of dictionaries like {'n': n, 'square': n*n} for numbers 1 to 10.

In [39]:
dict1={}
sq_list = [{i:i**2} for i in range(1,11)]
sq_list

[{1: 1},
 {2: 4},
 {3: 9},
 {4: 16},
 {5: 25},
 {6: 36},
 {7: 49},
 {8: 64},
 {9: 81},
 {10: 100}]

41.	Merge two lists element-wise into tuples, but include only pairs where both elements are truthy.

In [44]:
list1 = [1, 0, 3, '', 5, None]
list2 = ['a', 'b', '', 'd', None, 6]

min_length = min(len(list1),len(list2))
tup_lis = list(filter(lambda x: True if x[0] and x[1] else False,[(list1[i],list2[i]) for i in range(min_length)]))
tup_lis

[(1, 'a')]

42.	Create a comprehension to transpose a matrix (swap rows â columns).

In [54]:
matrix=[[1,2,3],
 [4,5,6]]
row = len(matrix)      # 2
col = len(matrix[0])   # 3

trans_mat = [[matrix[j][i] for j in range(row)] for i in range(col)]

trans_mat

[[1, 4], [2, 5], [3, 6]]

43.	Flatten a 3-level nested list [[[1,2],[3]],[[4]]] into a single flat list.

In [55]:
arr=  [[[1,2],[3]],[[4]]]
flat_array = [arr[i][j][k] for i in range(len(arr)) for j in range(len(arr[i])) for k in range(len(arr[i][j]))]
flat_array

[1, 2, 3, 4]

44.	Write a comprehension that keeps only unique items from a list while preserving order.

In [57]:
ll = [1,2,2,3,4,5,5,6]
set1=set()
ul  = [i for i in ll if i not in set1 and not set1.add(i)]
ul

[1, 2, 3, 4, 5, 6]

45.	Find all indices (positions) where a given number appears in a list.

In [58]:
n=float(input("enter the number"))
list1 =[1,6,7,8,5,6,0,8,6]
ind_list = [i for i in range(len(list1)) if list1[i] == n]
ind_list

enter the number6

[1, 5, 8]

46.	Generate all palindromic numbers (as strings) between 1 and 999.

In [60]:
pal_list  = [str(i) for i in range(1,1000) if str(i) == str(i)[::-1] and len(str(i))>2]
pal_list

['101',
 '111',
 '121',
 '131',
 '141',
 '151',
 '161',
 '171',
 '181',
 '191',
 '202',
 '212',
 '222',
 '232',
 '242',
 '252',
 '262',
 '272',
 '282',
 '292',
 '303',
 '313',
 '323',
 '333',
 '343',
 '353',
 '363',
 '373',
 '383',
 '393',
 '404',
 '414',
 '424',
 '434',
 '444',
 '454',
 '464',
 '474',
 '484',
 '494',
 '505',
 '515',
 '525',
 '535',
 '545',
 '555',
 '565',
 '575',
 '585',
 '595',
 '606',
 '616',
 '626',
 '636',
 '646',
 '656',
 '666',
 '676',
 '686',
 '696',
 '707',
 '717',
 '727',
 '737',
 '747',
 '757',
 '767',
 '777',
 '787',
 '797',
 '808',
 '818',
 '828',
 '838',
 '848',
 '858',
 '868',
 '878',
 '888',
 '898',
 '909',
 '919',
 '929',
 '939',
 '949',
 '959',
 '969',
 '979',
 '989',
 '999']

47.	Convert a dictionary like {'a':[1,2], 'b':[3]} into a list of (key, value) pairs.

In [62]:
d = {'a':[1,2], 'b':[3]}
ll = [[k,v] for k,v in d.items()]
ll

[['a', [1, 2]], ['b', [3]]]

48.	Create a list of prime pairs (p, q) where both are primes under 100 and p + q is also prime.

In [64]:
def isPrime(n):
  if n <2:
    return False
  elif n <=3:
    return True
  else:
    for i in range(2,int(n**0.5)+1):
      if n%i == 0:
        return False
    return True
prime_pairs = [(a,b) for a in range(1,101) for b in range(a,101) if (isPrime(a) and isPrime(b)) and isPrime(a+b)]
prime_pairs

[(2, 3), (2, 5), (2, 11), (2, 17), (2, 29), (2, 41), (2, 59), (2, 71)]

49.	Create a lower-triangular matrix (nÃn) with 1s below and on the diagonal, 0s above

In [68]:
n=3
low_tri = [[1 if j<=i else 0 for j in range(n)   ] for i in range(n) ]
low_tri

[[1, 0, 0], [1, 1, 0], [1, 1, 1]]

50.	Generate all possible sequences of length 4 from 'abcd' with no repeated letters.

In [72]:
s='abcd'
possible_seq = [
    a+b+c+d
  for a in 'abcd'
  for b in 'abcd' if b !=a
  for c in 'abcd' if c !=a and c!=b
  for d in 'abcd' if d !=a and d!=b and  d !=c

]
print(possible_seq, len(possible_seq))

['abcd', 'abdc', 'acbd', 'acdb', 'adbc', 'adcb', 'bacd', 'badc', 'bcad', 'bcda', 'bdac', 'bdca', 'cabd', 'cadb', 'cbad', 'cbda', 'cdab', 'cdba', 'dabc', 'dacb', 'dbac', 'dbca', 'dcab', 'dcba'] 24